.button {
  display: block;
  width: 259px;
  min-height: 20px;
  margin: 0;
  padding: 0;
  border: 2px solid $grey;
  text-decoration: none;
  font-family: $defaul-font;
  color: $grey;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
