@import "product.scss";

.catalog__title {
  @include reset-indents;
  padding-top: 75px;
  padding-bottom: 65px;
  background-color: $grey--lighter;
}

.catalog__list {
  @include reset-indents;
  list-style: none;
}

.catalog__item {
  @include reset-indents;
  margin-top: 30px;
}
