@import "slider.scss";

.comments__title {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 60px;

  color: #000000;
}
.comments__item {
  margin: 0;
  padding: 0;
}
.comments__content {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-top: 35px;
}
.comments__author {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  margin-top: 41px;
}
.comments__author-link {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  margin-top: 15px;
}
.comments__add-comment {
  margin-top: 38px;
}

