.comments {
  color: $grey;
}

.comments__title {
  @include reset-indents;
  margin-top: 60px;
  font-size: 25px;
  color: $black;
}

.comments__item {
  @include reset-indents;
}

.comments__content {
  @include reset-indents;
  margin-top: 35px;
  font-weight: normal;
  font-size: 15px;
}

.comments__author {
  @include reset-indents;
  margin-top: 41px;
}

.comments__author-link {
  @include reset-indents;
  font-weight: normal;
}

.comments__add-comment {
  margin-top: 38px;
}

@media (min-width: $tablet-width) {
  .comments {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .comments__title {
    @include tablet-title;
    order: -1;
  }

  .comments__content {
    @include td-content;
  }

  .comments__add-comment {
    order: -1;
    width: 175px;
    align-self: flex-start;
    margin-top: 60px;
  }

  .comments__author {
    margin-top: 50px;
  }

  .comments__toggles {
    @include reset-indents;
    width: 167px;
    margin-left: 500px;
    margin-top: -60px;
  }

  .comments-toggle {
    @include reset-indents;
    width: 80px;
  }
}

@media (min-width: $desktop-width) {
  .comments {
    margin-left: 175px;
  }

  .comments__toggles {
    margin-left: 705px;
  }
}
