.contact {
  @include reset-indents;
  @include mobile-center;
  margin-top: 20px;
}

.contact__title {
  @include reset-indents;
  color: $turquoise;
  text-transform: uppercase;
}

.contact__phone[placeholder],
.contact__email[placeholder] {
  @include reset-indents;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: $grey;
  opacity: 0.3;
}

.contact__wrap--additional {
  @include mobile-center;
}

@media (min-width: $tablet-width) {
  .contact {
    width: 100%;
    background-color: $grey--lighter;
  }

  .contact__wrap {
    @include tablet-center;
    display: flex;
    flex-direction: row;
  }

  .contact__title {
    width: 168px;
  }

  .contact__wrap--additional {
    justify-content: space-between;
  }

  .form__clarify {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .contact__wrap {
    @include desktop-center;
  }
}
