.contacts__wrapper {
  @include mobile-center;
}

.contacts__title {
  @include reset-indents;
  margin-top: 92px;
  font-size: 18px;
}

.contacts__map-wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__data {
  @include reset-indents;
  font-weight: normal;
  font-size: 15px;
  //margin-top: 15px;
  color: $grey;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.data__name {
  @include reset-indents;
  width: 61px;
  padding-top: 30px;
  line-height: 30px;
}

.data__value {
  @include reset-indents;
  width: 181px;
  padding-top: 30px;
  line-height: 30px;
}

.data__value--underline {
  border-bottom: 1px solid #63d1bb;
  padding-bottom: 5px;
}

.contacts__write-us {
  @include mobile-center;
}

.contacts__map {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 30px;
  //width: 322px;
  height: 457px;
  z-index: -1200;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    @include tablet-center;
  }

  .contacts__title {
    @include tablet-title;
    margin-top: 192px;
    position: relative;
  }

  .contacts__title::before {
    content: "";
    position: absolute;
    display: block;
    width: 46px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
    right: 0;
    top: -15px;
  }

  .contacts__data {
    width: 668px;
    flex-direction: row;
    font-size: 17px;
    line-height: 30px;
    margin-top: 30px;
  }

  .data__value {
    width: 250px;
    padding-top: 20px;
  }

  .data__name {
    padding-top: 20px;
  }

  .data__value--underline {
    height: 23px;
  }

  .contacts__write-us {
    margin: 0 auto;
    width: 230px;
  }

  .contacts__map {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__data {
    width: 340px;
    flex-wrap: wrap;
    margin-left: 175px;
  }

  .contacts__title {
    @include desktop-title;
    width: 340px;
    margin-left: 175px;
    margin-top: 320px;
  }

  .contacts__title::before {
    left: -105px;
    top: -5px;
  }

  .contacts__wrapper {
    @include desktop-center;
  }

  .contacts__for-desktop {
    @include desktop-center;
    display: flex;
    justify-content: space-between;
  }

  .contacts__write-us {
    @include reset-indents;
    width: 300px;
    margin-left: 175px;
    align-self: flex-end;
  }

  .contacts__map {
    @include reset-indents;
    order: 2;
    height: 457px;
    width: 525px;
    margin-top: -310px;
  }

  .contacts {
    margin-bottom: 100px;
  }
}
