.form-page__wrapper {
  @include mobile-center;
}

.form-page__title-bg {
  background-color: $grey--lighter;
}

.form-page__title {
  @include reset-indents;
  @include mobile-center;
  padding-top: 70px;
  padding-bottom: 75px;
}

.form-page__description {
  @include reset-indents;
  @include mobile-center;
  margin-top: 20px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $grey;
}

.form__addinfo-wrapper {
  @include mobile-center;
}

.form__clarify {
  @include reset-indents;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $grey;
  margin-top: 18px;
}

@media (min-width: $tablet-width) {
  .form-page__wrapper {
    @include tablet-center;
  }

  .form-page__title-bg {
    min-height: 226px;
    margin-top: -40px;
    border-top: 1px solid $grey--lines;
  }

  .form-page__title {
    @include tablet-center;
    margin-top: 23px;
  }

  .form-page__description {
    @include td-content;
    @include tablet-center;
    margin-top: 72px;
  }

  .form__addinfo-wrapper {
    @include tablet-center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -65px;
  }

  .form__submit--form {
    width: 228px;
  }

  .form__clarify {
    @include td-content;
    margin-top: 38px;
  }
}

@media (min-width: $desktop-width) {
  .form-page__wrapper {
    @include desktop-center;
  }

  .form-page__title-bg {
    min-height: 255px;
  }

  .form-page__title,
  .form__addinfo-wrapper {
    width: 700px;
  }

  .form-page__description {
    width: 700px;
    margin: 0 auto;
    margin-top: 120px;
  }

  .form-page__title {
    margin-top: 25px;
  }
}
