.form {
  @include reset-indents;
  margin-top: 26px;
  line-height: 28px;
}

.form__submit {
  @include reset-indents;
  margin-top: 31px;
  margin-bottom: 55px;
}

.form__submit--form {
  font-size: 17px;
  background-color: transparent;
  border: 2px solid $grey;
  color: $grey;
}

.form__color {
  margin-top: 34px;
  margin-bottom: 30px;
}

.form__contact {
  margin-top: 10px;
  margin-bottom: 25px;
}
