@import "form.scss";

.form-page__wrapper {
  @include mobile-center;
}

.form-page__title {
  @include reset-indents;
  padding-top: 75px;
  padding-bottom: 65px;
  background-color: $grey--lighter;
}

.form-page__description {
  @include reset-indents;
  margin-top: 29px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $grey;
}

.form__wrap--additional {
  @include mobile-center;
}

@media (min-width: $tablet-width) {
  .form-page__wrapper {
    @include tablet-center;
  }

  .form-page__title {
    margin-top: 103px;
  }

  .form-page__description {
    @include td-content;
  }

  .form__wrap {
    @include tablet-center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form-page__wrapper {
    @include desktop-center;
  }

  .form__wrap {
    @include desktop-center;
  }
}
