.main-nav__toggle {
  @include reset-indents;
  display: block;
  width: 20px;
  height: 14px;
  font-size: 0;
  background-color: green;
  //просто  что бы видно было

  margin-top: -50px;
  margin-left: 265px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    @include reset-indents;
    @include mobile-center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1050px;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }
}
