.main-header {
  margin: 0;
  padding: 0;
  width: 320px;
}
.main-header__logo-image {
  margin: 0;
  padding: 0;
  margin-left: 116px;
  padding-top: 22px;
  padding-bottom: 22px;
}
.main-nav__toggle {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 14px;
  font-size: 0;
  background-color: green;
  //просто  что бы видно было
}
.main-nav__wrapper {
  //display: none;
}
