.main-header {
  @include reset-indents;
  width: 320px;
  border: 1px solid black;
  margin: 0 auto;
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  @include reset-indents;
  width: 86px;
  height: 79px;
  border: 1px solid black;
  margin: 0 auto;
}

.main-header__logo-image {
  @include reset-indents;
  padding-top: 22px;
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .main-header {
    width: 100%;
  }

  .main-header__wrapper {
    @include tablet-center;
    flex-direction: row;
  }

  .main-header__logo {
    @include reset-indents;
    width: 111px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1250px;
  }

  .main-header__wrapper {
    @include desktop-center;
    display: flex;
  }

  .main-header__logo {
    width: 149px;
    order: 1;
    margin-left: -600px;
  }
}
