.main-nav--close {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
  }

  .main-nav__wrapper {
    @include reset-indents;
    @include mobile-center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1050px;
    justify-content: space-between;
  }
}
