.nav-list {
  @include reset-indents;
  list-style: none;
  width: 320px;
}

.nav-list__item {
  margin-top: 33px;
  margin-bottom: 30px;
  margin-left: 75px;
}

.nav-list__link {
  text-decoration: none;
  color: $black;
  line-height: 24px;
}
