@import "main-menu.scss";
@import "products";

.page-main__title {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin-top: 75px;
  color: #000000;
}

