.personal-data {
  @include reset-indents;
  margin-top: 33px;
}

.personal-data__title {
  @include reset-indents;
  color: $turquoise;
  text-transform: uppercase;
}

.personal-data__name[placeholder],
.personal-data__surname[placeholder],
.personal-data__patronymic[placeholder] {
  @include reset-indents;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: $grey;
  opacity: 0.3;
}
