@import "button.scss";

.products {
  margin: 0;
  padding: 0;
}
.products__title {
  margin: 0;
  paddimg: 0;
  font-family: Open Sans;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin-top: 33px;
  margin-bottom: 10px;
}
.products__hit {
  margin: 0;
  paddimg: 0;
  font-family: Open Sans;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}
.products__description {
  margin: 0;
  paddimg: 0;
  font-family: Open Sans;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
  margin-top: 30px;
}
.products__data {
  margin: 0;
  paddimg: 0;
  font-family: Open Sans;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: #444444;
  margin-top: 30px;
}
.products__field,
.products__value {
  padding-bottom: 22px;
}
.products__value {
  padding-left: 30px;
}
.products__price {
  margin: 0;
  paddimg: 0;
  font-family: Open Sans;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
  margin-top: 30px;
  margin-bottom: 28px;
}
