.production__title {
  @include reset-indents;
  font-size: 17px;
  line-height: 24px;
  margin-top: 90px;
}

.production__video {
  @include reset-indents;
  margin-top: 26px;
}

.production__intro {
  @include reset-indents;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $grey;
  margin-top: 34px;
}

.production__make-order {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .production {
    display: flex;
    flex-wrap: wrap;
    margin-top: 53px;
  }

  .production__video {
    width: 668px;
  }

  .production__videoplayer {
    order: -1;
  }

  .production__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 44px;
  }

  .production__intro {
    font-size: 15px;
    line-height: 30px;
  }

  .production__make-order {
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    width: 1050px;
    flex-direction: row;
  }

  .production__video {
    width: 682px;
    height: 455px;
  }

  .production__intro-wrapper {
    width: 350px;
    margin-left: 710px;
    margin-top: -400px;
  }
}
