@import "button.scss";

.products {
  @include reset-indents;
}

.products__title {
  @include reset-indents;
  font-size: 25px;
  margin-top: 33px;
  margin-bottom: 10px;
}

.products__hit {
  @include reset-indents;
  line-height: 20px;
  color: $turquoise;
  text-transform: uppercase;
}

.products__description {
  @include reset-indents;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: $grey;
  margin-top: 30px;
}

.products__data {
  @include reset-indents;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: $grey;
  margin-top: 30px;
}

.products__field,
.products__value {
  padding-bottom: 22px;
}

.products__value {
  padding-left: 30px;
}

.products__price {
  @include reset-indents;
  line-height: 24px;
  font-weight: bold;
  color: $grey;
  margin-top: 30px;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .products {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
  }

  .products__title {
    @include tablet-title;
    width: 480px;
    margin-top: 123px;
  }

  .products__hit {
    margin-left: auto;
    width: 140px;
    margin-top: 85px;
    font-size: 17px;
  }

  .products__wrapper {
    @include reset-indents;
    width: 292px;
    margin-top: 40px;
  }

  .products__image {
    margin-left: auto;
    margin-top: 40px;
  }

  .products__description {
    @include reset-indents;
    @include td-content;
  }

  .products__price {
    width: 668px;
    margin-top: -15px;
    font-size: 20px;
    line-height: 24px;
  }

  .products__order {
    width: 292px;
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    width: 1050px;
  }

  .products__title {
    @include desktop-title;
    width: 530px;
  }

  .products__hit {
    margin-left: 0;
    order: -1;
    margin-right: 30px;
  }

  .products__wrapper {
    width: 350px;
    margin-left: 175px;
  }

  .products__image {
    width: 525px;
    height: 636px;
    margin-top: -120px;
  }

  .products__price {
    width: 1050px;
    margin-top: -135px;
    margin-left: 175px;
  }

  .products__order {
    margin-top: -55px;
    margin-left: 175px;
  }
}
