.slider__toggles {
  margin: 0;
  pading: 0;
  display: block;
  width: 260px;
  height: 52px;
  border: 1px solid #444444;
  margin-top: 36px;
}

.slider__prev,
.slider__next {
  margin: 0;
  pading: 0;
  width: 128px;
  border: none;
}
