.social {
  @include reset-indents;
  margin-top: 39px;
  background-color: $grey--lighter;
  border-bottom: 1px solid $grey--lines;
  padding-bottom: 25px;
}

.social-copyright__wrapper {
  @include mobile-center;
}

.social-copyright {
  background-color: $grey--lighter;
}

.social__list {
  @include reset-indents;
  @include mobile-center;
  list-style: none;
  width: 160px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin: 0 auto;
}

.social__link {
  @include reset-indents;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 40px;
}

.social__link--fb {
  margin-top: -8px;
}

@media (min-width: $tablet-width) {
  .social-copyright {
    margin-top: 57px;
  }

  .social-copyright__wrapper {
    @include tablet-center;
    display: flex;
    justify-content: space-between;
  }

  .social {
    margin-left: 80px;
  }

  .social__list {
    padding-top: 24px;
    padding-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .social-copyright__wrapper {
    @include desktop-center;
  }
}
