.user-list {
  @include reset-indents;
  list-style: none;
  border: 1px solid;
  margin: 0 auto;
}

.user-list__item {
  @include reset-indents;
  @include mobile-center;
  margin-top: 33px;
  margin-bottom: 30px;
}

.user-list__link {
  @include reset-indents;
  text-decoration: none;
  color: $black;
  font-size: 17px;
  line-height: 24px;
  margin-left: 40px;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-direction: row;
    margin-left: 210px;
    width: 348px;
  }

  .user-list__item--search {
    @include reset-indents;
    width: 84px;
    border: 1px solid;
  }

  .user-list__item--cart {
    @include reset-indents;
    width: 264px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    @include reset-indents;
    order: 6;
  }
}
